header {
  display: flex;
  justify-content: center;
  background-color: skyblue;
  box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 64px;
  padding: 0 32px;
  background-color: chocolate;
}
header .inner .header__logo {
  height: 32px;
}
header .inner .header__logo a {
  font-size: 32px;
  color: green;
  font-family: "Shadows Into Light", cursive;
}
header .inner .header__logo a i {
  font-size: 32px;
  color: green;
}

header .inner .header__menu {
  height: 32px;
  display: flex;
  flex-shrink: 0;
  margin-left: 20px;
}
header .inner .header__menu li {
  font-size: 16px;
  padding: 8px 16px;
  color: #4a4a4a;
}
header .inner .header__menu li a:hover {
  color: #1dc078;
}

header .inner .header__search {
}
header .inner .header__search input {
}
header .inner .header__search i {
}

header .inner .header__login-join {
}
header .inner .header__login-join .btn.btn--login {
}
header .inner .header__login-join .btn.btn--join {
}
