/* COMMON */
body {
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
/* BLOCK */
header {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 64px;
  padding: 0 32px;
}

/* 로고 파트  */
header .inner .header__logo {
  flex-shrink: 0;
  font-size: 32px;
}
header .inner .header__logo a {
  font-family: "Indie Flower", cursive;
  color: green;
}
header .inner .header__logo a i {
}

/* 메뉴 파트 */
header .inner .header__menu {
  display: flex;
  flex-shrink: 0;
  font-size: 16px;
  height: 34px;
  margin-left: 20px;
}
header .inner .header__menu li {
  padding: 8px 16px;

  list-style: none;
  color: #4a4a4a;
}
header .inner .header__menu li a {
}
header .inner .header__menu li a:hover {
  color: #1dc078;
}
/* 공간 파트 */
header .inner .header__space {
  flex-grow: 1; /*공간이 남았으면 다 이쪽으로*/
}

/* 검색 파트 */
header .inner .header__search {
  flex-shrink: 0;
  position: relative;
  height: 34px;
  margin-right: 30px;
}
header .inner .header__search input {
  box-sizing: border-box;
  width: 148px;
  height: 34px;
  padding: 5px 9px;
  font-size: 16px;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: none;
  color: #4a4a4a;
}
header .inner .header__search input:hover {
  border: 1px solid #c8c8c8;
}
header .inner .header__search input:focus {
  border: 1px solid #c8c8c8;
  /* outline-color: #1dc078; */
  outline: none;
  box-shadow: inset 0px 0px 0 2px #1dc078;
}
header .inner .header__search i {
  position: absolute; /*부모 중에서 찾음*/
  right: 9px;
  margin: auto; /*브라우저가 계산할 수 있게 해야함*/
  height: 16px;
  top: 0;
  bottom: 0; /*transform: translateX(-30px); 눈에 보이기만 이동, 자기 위치를 가지고 있음*/
}

/* 로그인, 회원가입 */
header .inner .header__login-join {
  flex-shrink: 0;
  display: flex;
  height: 34px;
  gap: 10px; /*margin-right:0px 8px 0px 0px*/
}
header .inner .header__login-join .btn {
  height: 34px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
header .inner .header__login-join .btn.btn--login {
  color: #4a4a4a;
  background-color: white;
}
header .inner .header__login-join .btn.btn--join {
  color: white;
  background-color: #f77897;
}
